<h1 class="pageTitleSignUp">Log-in</h1>

<form action="/auth/login" method="POST">
  <div id="signup">
    <div id="signup2"></div>

    <div id="signupEmail">
      <input required placeholder="Email:" class="signupDetails" id="new-email" type="email" name="email">
    </div>
      
      <div id="signupPassword">
        <input required placeholder="Password:" class="signupDetails" id="new-password" type="password" name="password">
      </div>

      <div id="signupSubmit">
        <input id="submit2" type="submit" value="Submit">
      </div>
    </div>
  </div>
</form>
