<div id="topCommunity">

    <div class="subHeaderContainer">
        <h1 class="subHeader">community</h1>
    </div>

    <div id="upload">
        <h1>File Upload</h1>
        
        <form enctype="multipart/form-data" action="/community" method="POST">
            <input type="file" name="myFile">
            <input type="submit" class="btn btn-primary">
        </form>
    </div>

</div>
    

<div class="comGrid">
<% if (myPics.length) { %> 
        <% myPics.forEach(p => { %>
            <div>
                <img src="<%=p.url%>" alt="picture">
            </div>
        <% }) %>
    <% } else { %>
        <h2>sorry, I don't have any pics</h2>
    <% } %> 
</div> 