<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>upnext</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <% include partials/alerts %> 
    <header id="navbar">
      <nav>
        <ul>
          <li><a href="/discover" id="navDiscover" class="navLink">discover</a></li>
          <li><a href="/community" id="navCommunity" class="navLink">community</a></li>
          <% if (!currentUser) { %>
            <li><a href="/auth/signup" id="navSignup" class="navLink">signup</a></li>
            <li><a href="/auth/login" id="navLogin" class="navLink">login</a></li>
          <% } else { %>
            <li><a href="/auth/logout" id="navLogout" class="navLink">logout</a></li>
            <li><a href="/profile" id="navProfile" class="navLink">profile</a></li>
          <% } %> 
        </ul>
      </nav>
    </header>
    <h1 id="upnext">
      <a href="/" id="upnextLink">upnext</a>
    </h1>
    <%- body %>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket=io();
    </script>
  </body>
</html>