<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>upnext</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <% include partials/alerts %> 
    <header id="navbar">
      <nav>
        <ul>
          <li><a href="/discover" class="navLink">Discover</a></li>
          <% if (!currentUser) { %>
            <li><a href="/auth/signup" class="navLink">Signup</a></li>
            <li><a href="/auth/login" class="navLink">Login</a></li>
          <% } else { %>
            <li><a href="/auth/logout" class="navLink">Logout</a></li>
            <li><a href="/profile" class="navLink">Profile</a></li>
          <% } %> 
        </ul>
      </nav>
    </header>
    <h1 id="upnext">
      <a href="/" id="upnextLink">upnext</a>
    </h1>
    <%- body %>
  </body>
</html>