<div id="container">

    <img src="https://i2.wp.com/media1.giphy.com/media/LVKpGfilh7dzq/giphy.gif" alt="sorry">
    <h2 id="sorry">Sorry, we couldn't find this product in our database.
        <br>
        Please try searching something else!
    </h2>
</div>