<div class="subHeaderProf">
        <h1 class="subHeader">Profile</h1>
        <h4>Welcome <%= fav.id %></h4>
    </div>
</div>

<!-- <h3>Welcome </h3> -->
  

<div class="pageTitleFav">
    <h1 id="favorites">Favorites</h1>
</div>

<div class="profGrid">
    <% if (fav.length) { %> 
            <% fav.forEach(s => { %>
                <div id="comImage">
                    <img id="comPost" src="<%=s.thumbnail%>" alt="picture">
                    <h5><%= s.shoeName %></h5>
                    <form method="POST" action="/profile?_method=DELETE">
                        <input hidden type="text" name="id" value="<%=s.styleID%>">
                        <button type="submit">Remove</button>        
                    </form>
                </div>
            <% }) %>
        <% } else { %>
            <h2>sorry, You haven't chosen any sneakers as favorites.</h2>
        <% } %> 
</div> 