<h2>Profile Page</h2>

<h3>Welcome to your PROFILE</h3>
  
<% fav.forEach( s => { %>
    <div>
        <h2>
            <%= s %> 
        </h2>
    </div>
    <form method="POST" action="/sneakers?_method=DELETE">
        <input hidden type="text" name="name" value="<%=s%>">
        <button type="submit">Remove</button>        
    </form>
<% }) %> 