nav ul li {
  display: inline-block;
  margin-right: .3em;
}

.navLink{
  text-decoration: none;
  color: black;
}

.navLink:hover {
  color: gray;
}

body {
  font-family: "helvetica";
}

#navbar {
  text-align: right;
}

#upnext {
  position: absolute;
  top: 20px;
  left: 50px;
}

#upnextLink {
  text-decoration: none;
  color: chartreuse;
}

h1 {
  color: chartreuse;
}

.subHeader {
  text-align: center;
  margin-top: 100px;
}

.searchBar {
  text-align: center;
}

.shoeImg {
  width: 200px;
}

#showDetails {
  text-decoration: none;
  color: black;
}

#shoeDetails {

}

.grid {
  display: grid;
  width: 800px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 15px;
  text-align: center;
  padding: 50px;
  margin: 25px auto auto auto;
}

.shoeName {
  text-align: center;
  text-decoration: none;
  background-color: #fff;
  border: none;
  font-size: 18px;
}

.shoeName:hover {
  color: gray;
}

.detailImg {
  width: 300px;
}