body {
  font-family: "helvetica";
  background-color: rgb(252, 252, 252);
}

nav ul li {
  display: inline-block;
  padding: 5px;
}

.navLink{
  top: 50px;
  right: 50px;
  text-decoration: none;
  color: black;
}

.navLink:hover {
  color: lightsteelblue;
}

#navbar {
}

#navDiscover {
  right: 50px;
  position: absolute;
  right: 400px; 
  transition-timing-function: linear;
}

#navCommunity {
  position: absolute; 
  right: 285px;
}

#navSignup {
  position: absolute; 
  right: 200px;
}

#navLogin {
  position: absolute; 
  right: 100px;
}

#navLogout {
  position: absolute;
  right: 100px;
}

#navProfile {
  position: absolute;
  right: 200px;
}

#upnext {
  position: absolute;
  top: 20px;
  left: 50px;
}

#upnextLink {
  text-decoration: none;
  color: lightsteelblue;
}

.shoeImg {
  width: 200px;
}

#showDetails {
  text-decoration: none;
  color: black;
}

#shoeResults {
  background-color: white;
  padding: 8px;
}

.grid {
  display: grid;
  width: 800px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 30px;
  text-align: center;
  padding: 80px 50px 50px 50px;
  margin: 59% auto auto auto;
  background-color: white;
}

.shoeName {
  text-align: center;
  text-decoration: none;
  background-color: #fff;
  border: none;
  font-size: 18px;
}

.shoeName:hover {
  color: gray;
}

.detailImg {
  width: 300px;
}

#shoeDetails {
  width: 600px;
  padding: 40px;
  margin: 100px auto 100px auto;
  box-shadow: 4px 4px 7px black;
  background-color: white;
}

.detailImg {
  padding: 20px;
  border: 2px solid black;
}

#resellers {
  display: inline;
}

#resellers img{
  width: 50px;
  margin-top: -10px;
}

#goat {
  margin-left: 20px;
}

#container {
  text-align: center;
  margin-top: 10%;
}

#signup {
  width: 400px;
  height: 400px;
  padding: 40px;
  margin: 100px auto 100px auto;
  box-shadow: 4px 4px 7px black;
  background-color: white;
  text-align: center;
}

.signupDetails {
  font-size: 20px;
  margin: 20px auto auto auto;
  padding: 20px;
  width: 350px;
}

.pageTitleSignUp {
  position: absolute;
  left: 0;
  right: 0;
  margin: 100px auto auto auto;
  text-align: center;
}

#signup2 {
  margin: 50px auto auto auto;
}

#signupSubmit {
  font-size: 20px;
  margin: 40px;
}

#submit2 {
  background-color: white;
}

#submit2:hover {
  background-color: lightsteelblue;
}

.alert {
  color: red;
}

.alert-error {
  color: red;
  text-align: center;
  margin: 0 auto;
}

.error {
}

#discoverHead {
  z-index: 2;
  margin: 0 auto;
  position: absolute;
  margin:  60px auto auto auto;
  z-index: 2;
}

#jordanShoe {
  width: 100%;
  z-index: 2;
  opacity: 50%;
}

.subHeaderContainer {
  margin: 90px auto auto auto;
  text-align: center;
  z-index: 4;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.subHeader {
  font-size: 100px;
}

.searchBar {
  position: absolute;
  margin: 200px auto auto auto;
  z-index: 5;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.shoeSearch {
  background-color: white;
  width: 700px;
  height: 50px;
  z-index: 5;
  border: 0px;
  font-size: 20px;
  text-align: center;
}

.pageTitle {
  position: absolute;
  left: 0;
  right: 0;
  margin: 56% auto auto auto;
  text-align: center;
}

#topDiscover {
  margin: 19% auto auto auto;
  position: absolute;
  z-index: 6;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.picBox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
