nav ul li {
  display: inline-block;
  margin-right: .3em;
  margin-top: 40px;
}

.navLink{
  text-decoration: none;
  color: black;
}

.navLink:hover {
  color: gray;
}

body {
  font-family: "helvetica";
  background-color: rgb(252, 252, 252);
}

#navbar {
  text-align: right;
}

#upnext {
  position: absolute;
  top: 20px;
  left: 50px;
}

#upnextLink {
  text-decoration: none;
  color: chartreuse;
}

.subHeader {
  text-align: center;
  margin-top: 100px;
}

.searchBar {
  text-align: center;
}

.shoeSearch {
  width: 300px;
  height: 30px;
}

.pageTitle {
  position: absolute;
  left: 0;
  right: 0;
  margin: 40px auto auto auto;
  text-align: center;
}

#trending {
  
}

.shoeImg {
  width: 200px;
}

#showDetails {
  text-decoration: none;
  color: black;
}

#shoeResults {
  background-color: white;
  padding: 8px;
}

.grid {
  display: grid;
  width: 800px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 30px;
  text-align: center;
  padding: 100px 50px 50px 50px;
  margin: 40px auto auto auto;
  background-color: white;
}

.shoeName {
  text-align: center;
  text-decoration: none;
  background-color: #fff;
  border: none;
  font-size: 18px;
}

.shoeName:hover {
  color: gray;
}

.detailImg {
  width: 300px;
}

#shoeDetails {
  width: 600px;
  padding: 40px;
  margin: 100px auto 100px auto;
  box-shadow: 4px 4px 7px black;
  background-color: white;
}

.detailImg {
  padding: 20px;
  border: 2px solid black;
}

#resellers {
  display: inline;
}

#resellers img{
  width: 50px;
  margin-top: -10px;
}

#goat {
  margin-left: 20px;
}

#container {
  text-align: center;
  margin-top: 10%;
}