<h2 class="subHeader">Discover</h2>

<form action="/discover/:shoe" method="GET">
    <div class="searchBar">
        <label for="shoe">Find a shoe: </label>
        <input type="text" class="shoeSearch" name="shoe" required>
        <button type="submit">Search</button>
    </div>
</form>

<!-- Displays the results of the shoe search. -->
<div class="grid">
    <% products.forEach(s => { %> 
        <div id="shoeResults">
            <form action="/discover/:id" method="POST">
                <img class="shoeImg" src="<%= s.thumbnail %>" alt="<%= s.shoeName%>">
                <input  hidden type="text" name="id" value="<%= s.styleID%>">
                <button type="submit" class="shoeName"><%= s.shoeName %></button>
            </form>
        </div>

        <!-- <div class="popup" id="popup-1">
                <div class="overlay">
                    <div id="content">
                        <div class="close-btn" onclick="togglePopup()">&times;</div>
                        <h4 class="popupName"><%#=s.shoeName%></h4>
                        <img class="popupImg" src="<%#= s.thumbnail %>" alt="<%#= s.shoeName%>">
                    </div>
                </div>
            </div> -->

        <!-- <button onclick="togglePopup()">Show Popup</button> -->
    <% }) %> 
</div>    
