<h2>Discover</h2>

<form action="/discover/:shoe" method="GET">
    <label for="shoe">Find a shoe: </label>
    <input type="text" class="shoeSearch" name="shoe" required>
    <button type="submit">Search</button>
</form>

<!-- Displays the results of the shoe search. -->
<% products.forEach(s => { %> 
    <div id="productshoeResults">
        <h3 class="shoeName"><%= s.shoeName %></h3>
        <img class="shoeImg" src="<%= s.thumbnail %>" alt="<%= s.shoeName%>">
    </div>
<% }) %> 