<h2 class="subHeader">Discover</h2>

<form action="/discover/:shoe" method="GET">
    <div class="searchBar">
        <label for="shoe">Find a shoe: </label>
        <input type="text" class="shoeSearch" name="shoe" required>
        <button type="submit">Search</button>
    </div>
</form>

<!-- Displays the results of the shoe search. -->
<div class="grid">
    <% products.forEach(s => { %> 
        <div id="shoeResults">
                <img class="shoeImg" src="<%= s.thumbnail %>" alt="<%= s.shoeName%>">
                <h3 class="shoeName"><%= s.shoeName %></h3>
            </div>
    <% }) %> 
</div>    